/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* font-family: 'Lato', sans-serif; */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

.hover-opacity:hover {opacity: .6;}

.wrapper {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.mw-800 {
  max-width: 800px;
}

.rel {
  position: relative;
}

.tc {text-align: center;}
.tr {text-align: right;}
.tl {text-align: left;}

.ita {
  font-style: italic;
}

.bla {
  background-color: #000;
}


/************** .header-wrapper ************/
.header-wrapper {
  width: 100%;
  background-color: #000;
  color: #f9f9f9;
  padding: 0.9em 0;
  box-sizing: border-box;
  z-index: 99;
  box-shadow: rgba(0,0,0,0.5); 
  width: 100%;
  position: fixed;

}

.header-wrapper .navi-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  margin-right: auto;
  border: 0;
}

.header-wrapper .navi-wrap .navi {
  padding: 1em 1.5em; 
}
.header-wrapper .navi-wrap .navi:hover {
  background-color: #ccc; color: #111;
}

.header-wrapper .navi-wrap .search-bar {
  margin-left: auto;
}
.header-wrapper .navi-wrap .search-bar .search {
  padding: 1em 1.5em; 
}
.header-wrapper .navi-wrap .search-bar:hover .search {
  background-color: #f34432;
}
.header-wrapper .navi-wrap .bars-wrap .bars{
  padding: 1em 1.5em;   display: none;
}
.header-wrapper .navi-wrap .bars-wrap:hover .bars {
  background-color: #ccc;
}


.header-wrapper .navi-wrap .more-bar ul.sub {background-color: #fff; position: absolute; top: 2.25em; left: 0; z-index: 1; color: #111; display: none;}
.header-wrapper .navi-wrap .more-bar ul.sub > .sub-menu {
  padding:0.5em 3.25em 0.5em 1em;  
}
.header-wrapper .navi-wrap .more-bar ul.sub > .sub-menu:hover{
  background-color: #ccc;
}



/************** .main-wrapper ************/
.swiper-container {
  width: 100%;

}

.swiper-wrapper {

}


.swiper-slide .img .img-content{color: #f9f9f9; position: absolute; top: 35em; left: 50%; transform: translate(-50%,-50%);}
.swiper-slide .img .img-content h3.text{padding-bottom: 0.5em; font-size: 1.75em;}


/************** .band-wrapper ************/
.band-wrapper {
  text-align: center;
  padding: 6em 0;
  margin-right: auto;
  margin-left: auto;
}

.band-wrapper .band-wrap {}

.band-wrapper .band-wrap h2.the-band {
  letter-spacing: 0.125em;
}

.band-wrapper .band-wrap .love-music {
  color: #555;
  padding: 1em 0 1.25em 0;
  display: block;
}

.band-wrapper .band-wrap .content {
  text-align: justify;
  font-weight: 500;
  font-size: 1.1em;
}

.band-wrapper .camera-wrap {
  display: flex;
  flex-wrap: wrap;
}

.band-wrapper .camera-wrap .camera-imgbox {
  flex: 33.3333% 0 0;
  padding: 3em 0;
}

.band-wrapper .camera-wrap .camera-imgbox .name {
  font-size: 1.1em;
}

.band-wrapper .camera-wrap .camera-imgbox img {
  padding: 1em 4em;
}




/************** .tour-wrapper************/
.tour-wrapper {
  text-align: center;
}

.tour-wrapper .tour-wrap {
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 6em 0;
}

.tour-wrapper .tour-dates {
  letter-spacing: 0.125em;
  color: #f9f9f9;
}

.tour-wrapper .book-tickets {
  color: #888;
  display: block;
  padding: 1.25em;
  font-size: 1.1em;
}

.tour-wrapper .tour-wrap .cal-box {
  background-color: #fff;
  color: #777;
  text-align: left;
  margin: 1.5em 0 2.25em 0;
  width: 100%;
}

.tour-wrapper .tour-wrap .cal-box>ul.cal {
  border: 1px solid #ccc;
}

.tour-wrapper .tour-wrap .cal-box>ul.cal>.months {
  padding: 0.65em 1em; position: relative;
}

.tour-wrapper .tour-wrap .cal-box>ul.cal>.months:nth-child(1),
.tour-wrapper .tour-wrap .cal-box>ul.cal>.months:nth-child(2) {
  border-bottom: 1px solid #ccc;
}

.tour-wrapper .tour-wrap .cal-box>ul.cal>.months>.sold-out {
  background-color: #f34432;
  color: #f9f9f9;
  padding: 0.25em 0.5em;
  margin-left: 1.25em;
}

.tour-wrapper .tour-wrap .cal-box>ul.cal>.months>.stock {
  background-color: #000; 
  color: #fff;
  width: 25px;
  height: 25px; 
  line-height: 25px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  position: absolute; top: 7px; right: 25px;
  box-sizing: border-box;
}

.tour-wrapper ul.tk-wrapper {
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 0 -0.5em;
}

.tour-wrapper ul.tk-wrapper .tickets {
  flex: 33.3333% 0 0;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.tour-wrapper ul.tk-wrapper .tickets img:hover {
  opacity: .7;
}

.tour-wrapper ul.tk-wrapper .info-wrapper {
  background-color: #fff;
  padding: 1.5em;
}

.tour-wrapper ul.tk-wrapper .info-wrapper h3.title {
  font-size: 1.1em;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.tour-wrapper ul.tk-wrapper .info-wrapper .dates {
  font-size: 1.1em;
  color: #666;
}

.tour-wrapper ul.tk-wrapper .info-wrapper .content {
  padding: 1em 0;
  font-size: 1.1em;
}

.tour-wrapper ul.tk-wrapper .info-wrapper .bt-buy {
  padding: 0.75em 1.25em;
  color: #f9f9f9;
}

.tour-wrapper ul.tk-wrapper .info-wrapper .bt-buy:hover {
  background-color: #ccc;
  color: #111;
}

.contact-wrapper {padding: 5em 0;}

.contact-wrapper h2.contact{ letter-spacing: 0.1em;}
.contact-wrapper .note{ padding: 1em 0 2em 0; color: #666; font-size: 1.05em;}

.contact-wrapper .info-wrapper{ display: flex; margin: 4em 0 3em 0;}
.contact-wrapper .info-wrapper .info-wrap{ flex: 50% 0 0;  font-size: 1.25em;}

.contact-wrapper .info-wrapper .send-wrap{  flex: 50% 0 0; }
  
  .contact-wrapper .info-wrapper .send-wrap input {padding: 0.5em; margin-bottom: 1em; }
  .contact-wrapper .info-wrapper .send-wrap .send-box * {width: 48%; }
  .contact-wrapper .info-wrapper .send-wrap .send-box #nameEmail {margin-left: 1em;}

  .contact-wrapper .info-wrapper .send-wrap .ms-box #Message{width: 100%;}

  .contact-wrapper .info-wrapper .send-wrap .bt-box .bt-send { 
  border: 0;
  padding: 0.45em 0.85em;
  color: #fff;
  position: absolute; 
  right: 0; top: 0;
}



  /************** .img-map *************/

  /************** .footer *************/
footer{text-align: center; padding: 5em 0;}
footer ul.sns-wrap{display: flex; justify-content: center; font-size: 1.5em; color: #666;}
footer ul.sns-wrap > .sns {padding: 0 0.125em;}
footer .by-link {color: #666;}
footer .by-link > a{text-decoration: underline;}




  /************** 반응형 *************/
  @media screen and (max-width: 1199px) {
      
  }

  @media screen and (max-width: 991px) {
    .band-wrapper .band-wrap .content {flex: 100% 0 0; padding: 0 1em;}

  }

  @media screen and (max-width: 767px) {
    .tour-wrapper ul.tk-wrapper {flex-direction: column; padding: 0 1em; } 
    .tour-wrapper .tour-wrap .cal-box {margin: 0 1em; }


  }

  @media screen and (max-width: 575px) {
    .band-wrapper .camera-wrap {flex-direction: column; }
    .tour-wrapper ul.tk-wrapper .tickets { padding-bottom: 1em;}
 
    .header-wrapper .navi-wrap .more-bar {display: none;}

    .header-wrapper .navi-wrap .home-bar .navi-band{display: none;}
    .header-wrapper .navi-wrap .home-bar .navi-contact{display: none;}
    .header-wrapper .navi-wrap .home-bar .navi-tour{display: none;}

    .header-wrapper .search-bar .search{display: none;}
    .header-wrapper .bars-wrap .bars {display: block;}
  }

